<%= form_for(@production_user) do |f| %>
  <% if @production_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_user.errors.count, "error") %> prohibited this production_user from being saved:</h2>

      <ul>
      <% @production_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :production_id %><br>
    <%= f.number_field :production_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
