<h1>Editing Negative Trait</h1>

<p>Title:</p>
<input class="title-form form-control" value="<%= @negative_trait.title %>">

<br>
<% deets = {
		"definition" => "def",
		"similar flaws" => "similar-flaws",
		"possible causes" => "pos-causes",
		"associated behaviors and attitudes" => "assoc-behaviors",
		"associated thoughts" => "assoc-thoughts",
		"associated emotions" => "assoc-emotions",
		"positive aspects" => "pos-aspects",
		"negative aspects" => "neg-aspects",
		"examples from stories" => "char-examples",
		"overcoming this trait as a major flaw" => "flaw-keys",
		"traits in major characters that may cause conflict" => "conflicting-traits",
		"armatures" => "armatures"
	} %>

<section class="details">
	<% deets.each do |d| %>
	<div class="deet" data-title="<%= d[1] %>">
		<h3><%= d[0].capitalize %>:</h3>
		<textarea class="form-control froalize">
			<%= @negative_trait.details[d[1]].html_safe if @negative_trait.details.present? && @negative_trait.details[d[1]].present? %>
		</textarea>
		<hr>
	</div>
	<% end %>
	<div class="bq-list">
		<ul>
		</ul>
	</div>
</section>


<p>Paster:</p>
<textarea class="paster form-control" id="paster"></textarea>

<%= render "negative_traits/paster" %>

<hr>
<%= link_to 'Show', @negative_trait %> |
<%= link_to 'Back', negative_traits_path %>

<script>
	$(".froalize").froalaEditor({
		key: froalaKey,
		toolbarInline: true,
		charCounterCount: false,
		saveInterval: 500,
		toolbarButtonsMD: ['bold', 'italic', 'underline', 'formatOL', 'formatUL'],
		toolbarButtonsSM: ['bold', 'italic', 'underline', 'formatOL', 'formatUL']
	})
	.on('froalaEditor.save.before', function (e, editor) {
    // Before save request is made.
    	saveStory()
	})
	.on('froalaEditor.save.after', function (e, editor, response) {
	// After successfully save request.
	})
	.on('froalaEditor.save.error', function (e, editor, error) {
	// Do something here.
	});

	function saveStory(){
		details = {}

		$(".deet").each(function(){
			details[$(this).attr('data-title')] = $(this).find(".fr-view").html()
		})

		console.log(details)
		

	   $.ajax({
	       type: "PUT",
	       dataType: "json",
	       url: '/negative_traits/<%= @negative_trait.id %>',
	       contentType: 'application/json',
	       data: JSON.stringify({ 
	       	title: $(".title-form").val(),
	       	details: details,
	          _method:'post' 
	       }),
	       success: function(res){
	         console.log(res)
	       }
	   })	
	}

</script>

