<p id="notice"><%= notice %></p>

<h1>Listing Negative Traits</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @negative_traits.order("title ASC").each do |negative_trait| %>
      <tr>
        <td><%= negative_trait.title %></td>
        <td><%= link_to 'Show', negative_trait %></td>
        <td><%= link_to 'Edit', edit_negative_trait_path(negative_trait) %></td>
        <td><%= link_to 'Destroy', negative_trait, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Negative trait', new_negative_trait_path %>
