<style>
	.question-box {
		background-color: #fff;
		margin: 50px 0 ;
		border-radius: 25px;
	}

	.question-box .fr-view, .question-box input, .question-box .fr-view p {
		font-family: 'VT323', monospace !important;
		font-size: 24px;
	}


	.Wallop {
		padding: 25px 75px;
		background: #fff;
		-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	}

	.selected-mark {
    background: #94ff94;
    padding: 5px !important;
    border-radius: 5px;
	}

	.selected-mark .short-desc {
		font-family: 'Bowlby One SC', cursive;
	}

	.selected-mark.precentage-hidden {
	    background: #ffc479;
	    padding: 5px !important;
	    border-radius: 5px;
	}

	.precentage-hidden .year {
		display: none;
	}

	.progress {
		position: relative;
		left: -7px;
		margin: 10px 0;
	}


</style>

<% slices = @recipe.details %>

<div style="margin-top:135px;">
<ul class="timeline">
	<% slices.each_with_index do |slice, index| %>
  <li>
    <p class="event  <%= 'precentage-hidden' if slice["mark_percentage_hidden"] == true %>  "><span class="year"><%= slice["mark_percentage"] %></span> <span class="short-desc"><%= slice["title"] %></span></p>
    <p class="details"><%= slice["mark_short"] %></p>
  </li>
	<% end %>
</ul>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:0%">
    <span class="sr-only">0% Complete</span>
  </div>
</div>
</div>

<script>
	$(".timeline li").each(function(){
		$(this).css({"left":$(this).find(".year").html()})
	})

	$(".timeline li").on("click", function(){
		index = $(".timeline li").index($(this));
		Wallop.goTo(index);
		$(".selected-mark").removeClass("selected-mark")
		$(this).find(".event").addClass("selected-mark")
		$(".progress-bar").css({"width":$(this).find(".year").html()})
	})

  $.fn.timeline = function(options) {
    var settings = $.extend(
      {
        // These are the defaults.
        eventSpacing: "chronological",
        timelineDirection: "vertical",
        timelineSize: "800px"
      },
      options
    );
    var firstYear = $(".timeline li:first-child .year").text();
    var lastYear = $(".timeline li:last-child .year").text();
    var timeSpan = lastYear - firstYear;
    var percentBetween = 90 / timeSpan;

    //  direction of timeline.
    $(".timeline").addClass(settings.timelineDirection);
    
    // timeline size
    if($(".timeline").hasClass("horizontal")) {
      $(".timeline").css("width", settings.timelineSize);
    } else {
      $(".timeline").css("height", settings.timelineSize);
    }
    //  Add spacing between events chronological or equal
    if (settings.eventSpacing === "chronological") {
      $.each($(".timeline li"), function(i, val) {
        var year = $(val)
          .find(".year")
          .text();
        var spacing = (year - firstYear) * percentBetween;
        if (settings.timelineDirection === "horizontal") {
          $(val).css("left", spacing + "%");
        } else {
          $(val).css("top", spacing + "%");
        }
      });
    } else {
      $.each($(".timeline li"), function(i, val) {
        var year = $(val)
          .find(".year")
          .text();
        percentBetween = 90 / ($(".timeline li").length - 1);
        console.log(percentBetween);
        var spacing = i * percentBetween;
        if (settings.timelineDirection === "horizontal") {
          $(val).css("left", spacing + "%");
        } else {
          $(val).css("top", spacing + "%");
        }
      });
    }
  };

$("ul.timeline").timeline({
  eventSpacing: "chronological",
  timelineDirection: "horizontal",
  timelineSize: "100%"
});

</script>


 <div class="Wallop beats Wallop--slide">
	<div class="Wallop-list">
	<% slices.each_with_index do |slice, index| %>
	  <div class="Wallop-item" data-position="<%= index %>">
	  	<div class="question-box">
	      <h1>#<%= index + 1 %>: <%= slice["title"] %></h1>
	      <p><%= slice["mark_short"] %></p>
	      <%= slice["mark_description"].html_safe %>
	      <hr>
		  <textarea></textarea>
		<hr>
		</div>
		
	  </div>
	<% end %>
	</div>
  </div>

<script>
	
	var slider = document.querySelector('.Wallop');
	var Wallop = new Wallop(slider);

	function activateWallop(){
		$(".Wallop").show()
		$(".Wallop").addClass("wallop-activated")
	}
	
	$("path").on("click", function(){
		color = $(this).attr("data-color")
		title = $(this).attr("data-desc")
		id = $(".slice").index(this)

		if (!$(".Wallop").hasClass("wallop-activated")) {
			activateWallop()
		}

		Wallop.goTo(id);

		// $("body")
		// 	.css({"background":color})
		$(".Wallop").css({
			"-webkit-box-shadow": "10px 10px 0px 0px " + color,
			"-moz-box-shadow": "10px 10px 0px 0px " + color,
			"box-shadow": "10px 10px 0px 0px " + color,
		})

		$(".qtpieInside")
			.css('color',color)
			.html(title)
			.fadeIn(200);

		$(this)
			.siblings().removeClass("active-slice")
		$(this)
			.addClass("active-slice")

		$(this)
			.siblings().css({
				"stroke": "none",
	    		"stroke-width": "none"
			})

		if ($(this).attr("data-semi-circle") == "life" ){
			$("body").css({
				"background": "#ece9e6",
    			"background": "-webkit-linear-gradient(to right, #ece9e6, #ffffff)",
    			"background": "linear-gradient(to right, #ece9e6, #ffffff)"
			})
			$(this)
				.css({
					"stroke": "#000",
		    		"stroke-width": "2px"
				})

		} else {
			$("body").css({
				"background": "#200122",
    			"background": "-webkit-linear-gradient(to right, rgb(32, 1, 34), rgb(0, 0, 0))",
    			"background": "linear-gradient(to right, rgb(32, 1, 34), rgb(0, 0, 0))"
			})
			$(this)
				.css({
					"stroke": "#fff",
		    		"stroke-width": "2px"
				})
		}
	})

	$("textarea").froalaEditor({
		key: froalaKey,
		toolbarInline: true,
  		charCounterCount: false,
  		toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'color', 'emoticons', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo']

	})

	$('textarea').on('froalaEditor.focus', function (e, editor) {
	  // Do something here.
	  console.log("hi")
	  if (!$(".Wallop").hasClass("input-focused")){
	  	$(".Wallop").addClass("input-focused")
	  }
	});

	$(document).click(function(e){

	    // Check if click was triggered on or within #menu_content
	    // console.log($(e.target).closest(".fr-view").length)
	    if( $(e.target).closest(".fr-view").length < 1 ) {
	        $(".Wallop").removeClass("input-focused")
	    }

	    // Otherwise
	    // trigger your click function
	});

	$(document).keydown(function(e) {

		if ( $(".Wallop").hasClass("input-focused") == false ) {
			
			// count = $(".slice").length
			// quarter = count / 4
			// half = quarter + quarter
			// third = half + quarter

			// $(".slice").eq(third).trigger("click")

		    switch(e.which) {
		        case 37: // left
			        slice = $(".timeline .event").index($(".selected-mark"))
			        last = $(".timeline .event").length
			        next = slice - 1
			        // alert(slice)
			        if ( next == last ){
						$(".timeline .event").first().trigger("click")
			        } else {
						$(".timeline .event").eq( next ).trigger("click")
			        }
		        break;

		        case 38: // up
					// count = $(".slice").length
					// $(".slice").first().trigger("click")
		        break;

		        case 39: // right
			        slice = $(".timeline .event").index($(".selected-mark"))
			        last = $(".timeline .event").length
			        next = slice + 1
			        // alert(slice)
			        if ( next == last ){
						$(".timeline .event").first().trigger("click")
			        } else {
						$(".timeline .event").eq( next ).trigger("click")
			        }
		        break;

		        case 40: // down
		        break;

		        default: return; // exit this handler for other keys
		    }
		    e.preventDefault(); // prevent the default action (scroll / move caret)
		}
	});
</script>