<%= form_for(@production) do |f| %>
  <% if @production.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production.errors.count, "error") %> prohibited this production from being saved:</h2>

      <ul>
      <% @production.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :productionable_id %><br>
    <%= f.number_field :productionable_id %>
  </div>
  <div class="field">
    <%= f.label :productionable_type %><br>
    <%= f.text_field :productionable_type %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
