	<section>
		<p class="tip-intro">In life, you will want to believe in: <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-accept-1">
			<textarea>
				<%= @story.story_details["bonfire-accept-accept-1"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">Even while believing strongly in that Truth... <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-accept-2">
			<textarea>
				<%= @story.story_details["bonfire-accept-accept-2"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">But remember...<span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-accept-3">
			<textarea>
				<%= @story.story_details["bonfire-accept-accept-3"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">and if you don't give up...<span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-accept-4">
			<textarea>
				<%= @story.story_details["bonfire-accept-accept-4"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">But if you do give up...<span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-accept-5">
			<textarea>
				<%= @story.story_details["bonfire-accept-accept-5"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>

	<h3>So... will you stay strong?</h3>