	<section>
		<p class="tip-intro">In life, you will want to: <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-deny-1">
			<textarea>
				<%= @story.story_details["bonfire-accept-deny-1"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">& you'll take that for granted because <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-deny-2">
			<textarea>
				<%= @story.story_details["bonfire-accept-deny-2"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">But remember...<span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-deny-3">
			<textarea>
				<%= @story.story_details["bonfire-accept-deny-3"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">& if you give that up... <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-deny-4">
			<textarea>
				<%= @story.story_details["bonfire-accept-deny-4"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">But if you don't give that up... <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-accept-deny-5">
			<textarea>
				<%= @story.story_details["bonfire-accept-deny-5"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>

	<h3>So... will you realize it in time?</h3>