	<section>
		<p class="tip-intro">In life, sometimes, you will want to: <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-deny-deny-1">
			<textarea>
				<%= @story.story_details["bonfire-deny-deny-1"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">& you won't consider that a flaw because <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-deny-deny-2">
			<textarea>
				<%= @story.story_details["bonfire-deny-deny-2"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">But remember, if you don't fix that... <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-deny-deny-3">
			<textarea>
				<%= @story.story_details["bonfire-deny-deny-3"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">& if you realize that... <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-deny-deny-4">
			<textarea>
				<%= @story.story_details["bonfire-deny-deny-4"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>
	
	<section>
		<p class="tip-intro">But if you don't... <span class="fa fa-pencil abstractify"></span></p>
		<div class="message-form froalize save-this" data-save-code="bonfire-deny-deny-5">
			<textarea>
				<%= @story.story_details["bonfire-deny-deny-5"].try(:html_safe) if @story.story_details.present?  %>
			</textarea>
		</div>
	</section>
	<hr>

	<h3>So... will you realize it in time?</h3>